:root {
    --active-bg: #fbd77c;
    --active-color: white;
    border-radius: 5px;
    color: white;
    --bg-default-color: white;
    background-color: white;
    --bg-tertiary-color: #fbd77c;
    --bg-storia: #55595C;
    overflow: auto;
}

.bottoneHomeScreen {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 3px solid #000000;
    width: 376px;
    height: 122px;
    color: #000000;
    font-size: 2rem;
    justify-content: center;
}
#contenutoIndex tbody tr td {
    vertical-align: middle;
}

.bottoneArgomento {
    background: #FFFFFF;
    border: 3px solid #000000;
    width: 80%;
    /*height: inherit;*/
    color: #000000;
    font-size: 64px;
    justify-content: center;
    margin-right: 6rem;
    text-align: left;
}

.rigaListaArgomento {
    margin-bottom: 2rem;
}

.pageContenent {
    margin: auto;
    max-width: 90%;
    min-height: 600px;
    padding: 15px;
    width: 100%;
    text-align: center;
}

.titoloSezione {
    margin-left: 34px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
}

.contenitoreTitoloSezione {
    text-align: left;
    /*height: 3rem;*/
    margin-bottom: 3rem;
}

.card-footer {
    /*text-align: left;*/
    bottom: 5px;
    position: absolute;
    font-size: 20px;
    font-weight: 500;
    background-color: rgba(255,255,255,0);
    border-color: rgba(255,255,255,0);
}

.footerCard span {
    margin-left: 10px;
}

.loginContainer {
    background-color: var(--active-bg);
    height: 459px;
    width: 530px;
    position: absolute;
    top: 30%;
    border-radius: 15px;
}

body {
    min-height: 100vh;
    min-width: 100vw;
}



.loginContainer .closeIcon {
    position: absolute;
    left: 10px;
    top: 10px;
}

.loginFormContainer {
    width: 98%;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
}

.loginGuide {
    font-weight: 500;
}

input {
    float: left;
}

.loginFormContainer .row {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.contenitoreTitoloSezione i {
    display: inline-block;
    vertical-align: middle;
}

.titoloSezione {
    display: inline-block;
    vertical-align: middle;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

.elencoEsercizi {
    width: 58%;
}

.elencoEsercizi li {
    font-size: 64px;
}

/* The container */

.checkMarkContainer {
    display: block;
    position: relative;
    padding-left: 56px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 64px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */

.checkMarkContainer input {
    position: absolute;
    top: 0;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 25%;
    left: 0;
    height: 50px;
    width: 50px;
    background-color: rgba(238,238,238,0);
    border: solid;
    border-color: #757575;
    border-width: 6px;
    border-radius: 3px;
}

/* On mouse-over, add a grey background color */

.checkMarkContainer :hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.checkMarkContainer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */

.checkMarkContainer .checkmark:after {
    left: 11px;
    top: 2px;
    width: 17px;
    height: 30px;
    border: solid #757575;
    border-width: 0 9px 9px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#headerIconContainer i{
    display: block;
    height: 62px;
    width: 56px;
    float: left;
    margin-right: 40px;
}
#headerIconContainer > div {
    display: inline-block;
}
.card-body img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 64px;
}
.card{
    float:left;
    margin: 1rem;
}
.btn-primary {
    background: #99C7D9;
}
.btn-continua {
    position: absolute;
    bottom: 10%;
    width: 265px;
    height: 70px;
    left: 41%;
    font-size: 40px;
    font-weight: 450;
    align-items: center;
}

.immaginiRispostaMultipla img {
    width: 270px;
    height: 240px;
}

.immaginiRispostaMultipla {
    width: 65%;
}

.lista-domande {
    font-size: 23px;
}

.invisible-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
}

.invisible-checkbox:checked + div {
    position: absolute;
    content: "";
    border: thick solid yellow;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.colonna-frasi span {
    display: inherit;
    background: #FFFFFF;
    border: 3px solid #000000;
    height: inherit;
    color: #000000;
    width: 67%;
    font-size: 48px;
    justify-content: center;
    padding-left: 6px;
    padding-right: 6px;
}

.colonna-destra {
    text-align: right;
}

.colonna-sinistra {
    text-align: left;
    display: block;
}

.colonna-destra span {
    float: right;
}

.colonna-frasi * {
    width: 67%;
}

.colonna-frasi {
    position: relative;
    float: left;
    width: 100%;
}

.colonna-frasi div {
    position: absolute;
    width: 67%;
    height: 100%;
}

.colonna-destra div, .colonna-destra input, .colonna-destra .invisible-checkbox {
    right: 0;
    left: initial !important;
}

.colonna-frasi div, .colonna-frasi .checkbox {
    width: 67% !important;
}

#Box-Dizionario {
    background-image: url("../Immagini/DictionaryBox.svg");
    font-size: 25px;
    position: absolute;
    right: 42px;
    top: 95px;
}

.contenitore-box {
    height: 590px;
    width: 436px;
    z-index: 99;
}

.input-overlay {
    display: inline-block;
    margin-top: 94px;
}

.input-overlay {
    width: 236px;
    height: 46px;
    border: 1px solid #000000;
    font-size: 24px;
    text-align: center;
}

.contenitore-icona-registrazione img {
    height: inherit;
    width: inherit;
}

.contenitore-icona-cerca img {
    height: inherit;
    width: inherit;
}

.input-overlay .text-input {
    height: 44px;
    display: block;
    width: 78%;
    border: none;
    vertical-align: middle;
}

.contenitore-icona-registrazione {
    height: 25px;
    display: block;
    float: left;
}

.contenitore-icona-cerca {
    height: 25px;
    display: block;
    float: right;
}

.risultato-vuoto {
    background-image: url("../Immagini/EmptyResult.svg");
    min-height: 132px;
    background-repeat: no-repeat;
}

#Contenitore-Risultato-Dizionario {
    /*margin: 30px;*/
    width: 96%;
    height: 64%;
    resize: none;
    border: none;
    margin-top: 18px;
}

#Box-Traduttore {
    background-image: url("../Immagini/TranslatorBox.svg");
    position: absolute;
    right: 34px;
    top: 84px;
}

#Traduttore1 {
    top: 51px;
    float: left;
}

.traduttore .selettore-lingua {
    width: 179px;
    height: 37px;
    display: block;
    border: 2px #99C7D9 solid;
    font-size: 24px;
    padding: 0;
    padding-left: 4px;
}

.contenitore-box .contenitore {
    position: relative;
    top: 75px;
    margin-left: 30px;
    margin-right: 30px;
}

.contenitore-traduzione {
    height: 186px;
    width: 384px;
    border: 2px solid;
    margin-top: 10px;
}

.contenitore-traduzione .contenitore-icona-registrazione {
    vertical-align: bottom;
    float: right;
    display: block;
    margin-right: 0.5rem;
}

.contenitore-traduzione textarea {
    height: 150px;
    overflow: hidden;
    resize: none;
    border: none;
}

.contenitore-traduzione .contenitore-icona-riproduzione {
    vertical-align: bottom;
    float: right;
    display: block;
    height: 25px;
    margin-right: 0.5rem;
}

.contenitore-icona-riproduzione img {
    height: inherit;
}

#Traduttore2 {
}

.clickable-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 88;
}

